<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      {{#linkTo "index" classNames="navbar-brand"}}Overlaid Games{{/linkTo}}
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        {{#linkTo "games" tagName="li" href=false}}<a {{bindAttr href="view.href"}}>Games</a>{{/linkTo}}
        {{#linkTo "backgrounds" tagName="li" href=false}}<a {{bindAttr href="view.href"}}>Backgrounds</a>{{/linkTo}}
        {{#linkTo "about" tagName="li" href=false}}<a {{bindAttr href="view.href"}}>About</a>{{/linkTo}}
        {{#linkTo "request" tagName="li" href=false}}<a {{bindAttr href="view.href"}}>Make a Request</a>{{/linkTo}}
      </ul>
    </div>
    </div>
  </div>
</nav>

<div id="content" class="container">
  <div class="jumbotron">
    {{outlet}}
  </div>
</div>