<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      {{#link-to "index" classNames="navbar-brand"}}Overlaid Games{{/link-to}}
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        {{#link-to "games" tagName="li" href=false}}<a {{bind-attr href="view.href"}}>Games</a>{{/link-to}}
        {{#link-to "backgrounds" tagName="li" href=false}}<a {{bind-attr href="view.href"}}>Backgrounds</a>{{/link-to}}
        {{#link-to "about" tagName="li" href=false}}<a {{bind-attr href="view.href"}}>About</a>{{/link-to}}
        {{#link-to "request" tagName="li" href=false}}<a {{bind-attr href="view.href"}}>Make a Request</a>{{/link-to}}
      </ul>
    </div>
    </div>
  </div>
</nav>

<div id="content" class="container">
  <div class="jumbotron">
    {{outlet}}
  </div>
</div>